body{
  background-color: black;
}
.searchBar{
  font-size: 30px;
  margin-left: 40vw;
  margin-top: 10vh;
  background-color: bisque;
}
.StudentLists{
  border: 1px solid black;
  margin-left: 40vw;
  background-color: bisque;
  height: 25vh;
  width: 19vw;
  margin-top: 1vh;
  overflow: scroll;


}